<!--template de :https://bootsnipp.com/snippets/exZX3-->
<div class="container">
    <div class="row">
        <div class="card col-sm-4 " style="overflow:scroll;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Carlos</h5>
                    </div>
                    <p>ok :)</p>
                </li>
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Ana</h5>
                    </div>
                    <p>Dale cuando quieras</p>
                </li>
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Marcos</h5>
                    </div>
                    <p>Donde va el envio?</p>
                </li>
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Juana</h5>
                    </div>
                    <p>Cuanto te demorarias?</p>
                </li>
                <li class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Daniela</h5>
                    </div>
                    <p>ok perfect :)</p>
                </li>

            </ul>
        </div>
        <div class="col-sm-8">
            <div class="chatbody">

                <table class="table">
                    <tr>
                        <td>Message</td>
                        <td>Seen</td>
                    </tr>
                </table>

            </div>

            <div class="row">
                <div class="col-xs-9">
                    <input type="text" placeholder="Message..." class="form-control">
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-info btn-block">Send</button>
                </div>
            </div>

        </div>
    </div>
</div>