<div class="filters">
    <hr>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <p>LENGUAGE</p>
            <button class="dropdown-btn">select language:
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/settings"> Spanish </a>
                <br>
                <a href="/settings"> English </a>
                <br>
                <a href="/settings"> Italian </a>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
            <p>TEXT</p>
            <button class="dropdown-btn">select font:
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/settings"> Arial </a>
                <br>
                <a href="/settings"> Times New Roman </a>
                <br>
                <a href="/settings"> Heveltics </a>
            </div>
            <button class="dropdown-btn">select letter size:
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/settings"> 10px</a>
                <br>
                <a href="/settings"> 15px </a>
                <br>
                <a href="/settings"> 30px </a>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
            <p>PAID HETHOD</p>
            <button class="dropdown-btn">select paid method:
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/settings"> cash </a>
                <br>
                <a href="/settings"> credit </a>
                <br>
                <a href="/settings"> debit </a>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center align-items-center">
            <p>TERM AND CONDITION</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, ligula semper fames dui viverra ultrices natoque,
                at sociosqu id turpis vehicula fermentum. Conubia aptent lectus fermentum nascetur eu turpis id
                vulputate, ut libero sociosqu tristique volutpat montes convallis senectus bibendum, dignissim aliquet
                himenaeos a fames porta mollis. Diam ultrices cum placerat scelerisque quis class metus bibendum, quam
                fames nulla dignissim ad curabitur maecenas facilisis dis, etiam cubilia natoque augue molestie
                condimentum proin.

                Penatibus etiam tempor euismod ac dictum potenti lacus, parturient volutpat commodo quisque vestibulum
                viverra himenaeos consequat, interdum massa iaculis porttitor dui ridiculus. Vel montes quis ullamcorper
                mus habitant suspendisse faucibus inceptos nunc, id diam tortor a morbi vestibulum iaculis facilisis,
                penatibus malesuada integer accumsan augue magna euismod tempor. Dictum montes morbi per sed mauris arcu
                magna rhoncus hac donec id nullam vel, cursus pulvinar phasellus cras tellus enim consequat ultricies
                scelerisque fusce senectus.</p>
        </div>
    </div>
    <hr>
</div>